################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Formulario de Prueba/obj/Debug
/Formulario de Prueba/.vs/Formulario de Prueba/v16
